.timer {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 3px;
  color: black;
  font-weight: 500;
  font-size: 25px;
  background-color: #efefef;
  border-radius: 5px;
  padding: 5px 12px;
}
